/* apply a natural box layout model to all elements */
/* line 2, ../sass/_border-box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/_foundation.scss */
.container {
  padding: 1.6rem;
}
/* line 14, ../sass/_foundation.scss */
.container .jumbotron {
  border-radius: 0px;
}

/* line 18, ../sass/_foundation.scss */
.navbar .container {
  padding: 0;
}

/* line 21, ../sass/_foundation.scss */
.jumbotron {
  height: auto;
  background-image: url(../media/header_background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
}
/* line 32, ../sass/_foundation.scss */
.jumbotron .jumbotron_contents {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  padding-top: 15rem;
}
/* line 36, ../sass/_foundation.scss */
.jumbotron .jumbotron_contents .halfapp {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  margin-bottom: -4.9rem;
  margin-right: 5rem;
  margin-left: 10rem;
}
/* line 44, ../sass/_foundation.scss */
.jumbotron .jumbotron_contents .jumbowords {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding-top: 8.6rem;
}
/* line 50, ../sass/_foundation.scss */
.jumbotron .jumbotron_contents h2 {
  color: #fff;
  font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
  font-weight: 300;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}

/* line 60, ../sass/_foundation.scss */
.valueprop {
  background-color: #377b9e;
}
/* line 62, ../sass/_foundation.scss */
.valueprop .valueprop_contents {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
/* line 64, ../sass/_foundation.scss */
.valueprop .valueprop_contents .valuecol {
  display: inline-block;
  width: 29%;
  margin-right: 5%;
  vertical-align: top;
}
/* line 70, ../sass/_foundation.scss */
.valueprop .valueprop_contents .valuecol.last {
  margin-right: 0px;
}

/* line 2, ../sass/_typography.scss */
html {
  font-size: 16px;
}

/* line 5, ../sass/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 8, ../sass/_typography.scss */
body {
  font-size: 16px;
}

/* line 11, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #4dacde;
  font-family: "lexia", georgia, serif;
}

/* line 15, ../sass/_typography.scss */
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* line 19, ../sass/_typography.scss */
p {
  font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
  line-height: 1.625;
}

/* line 23, ../sass/_typography.scss */
h1, .h1 {
  font-size: 2.25rem;
}

/* line 5, ../sass/_components.scss */
img {
  max-width: 100%;
}

/* line 10, ../sass/_components.scss */
.btn-primary {
  background-color: #4dacde;
  background-image: none;
  border: 1px solid #4dacde;
  border-radius: 2.5px;
}

/* line 16, ../sass/_components.scss */
.btn-primary:hover {
  background-color: #377b9e;
  background-image: none;
  border: 1px solid #377b9e;
  border-radius: 2.5px;
}
