// Components
// Modular components and their states. 
// These pieces should be able to be used anywhere. Things like: icons, buttons, messages, etc.

img {
  max-width:100%;
}


// navigation
 // buttons

 .btn {
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset;
 }

 .btn-primary {
  background-color:$impel-blue;
  background-image:none;
  border:1px solid $impel-blue;
  border-radius:$borderadius;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset;
 }
 .btn-primary:hover {
  background-color:$impel-d-blue;
  background-image:none;
  border:1px solid $impel-d-blue;
  border-radius:$borderadius;
 }
  .btn-success {
  background-color:$impel-l-green;
  background-image:none;
  border:1px solid $impel-l-green;
  border-radius:$borderadius;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset;
 }
 .btn-success:hover {
  background-color:$impel-d-blue;
  background-image:none;
  border:1px solid $impel-d-blue;
  border-radius:$borderadius;
 }

// mailchimp sign up
input.submitbtn {
  display:inline-block;
  width:110px;
  background-color:$impel-l-green;
  border: none;
  color:#fff;
  font-style:normal;
  padding:.8rem 1.2rem;
  margin-bottom:1.5rem;
  letter-spacing:0.075rem;
  text-align:center;
  border-radius:$borderadius;
  font-family:$primary-sans;
  font-weight:400;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset;
  border-radius:$borderadius
  }
input.submitbtn:hover {
  background-color:$impel-d-blue;
}
input.forminput {
  display:inline-block;
  width:287px;
  color:$primary-font;
  background-color:transparentize(#fff, .25);
  border: none;
  font-style:normal;
  padding:8px 13px;
  margin-bottom:15px;
  letter-spacing:.75px;
  text-align:left;
  border-radius:$borderadius;
  font-family:$primary-sans;
  font-weight:400;
}

// showcase


