// Components
// Modular components and their states. 
// These pieces should be able to be used anywhere. Things like: icons, buttons, messages, etc.

img {
  max-width:100%;
}
// navigation
 // buttons
 .btn-primary {
  background-color:$impel-blue;
  background-image:none;
  border:1px solid $impel-blue;
  border-radius:2.5px;
 }
 .btn-primary:hover {
  background-color:$impel-d-blue;
  background-image:none;
  border:1px solid $impel-d-blue;
  border-radius:2.5px;
 }
