// Regions
// Page regions, named after their class and role names.
// i.e. Banner, navigation, etc.

// If you want more separation, you can set up an include per region, i.e.
// @include 'region/banner';		// and then add region/_banner.scss

body.otherpage {
	.jumbotron {
		background-image:none;
			background-color:$impel-blue;
		.jumbotron_contents {
			padding-top:10rem;
		}
	}
}
.maincontent {
	padding-bottom:100px;
	padding-top:50px;
	.maincontent_sections {
		@include contentsection;
		width:80%;
		h2 {
			font-weight:400;
			font-family:$primary-serif;
		}
		p {
			color:$tertiary-font;
			font-family:$primary-sans;
			font-weight:400;
			line-height:25px;
			font-size:18px;
		}
		a {
			color:$lukes-red;
			font-size:18px;
		}
		a:hover {
			color:$lukes-hover;
		}

	}
	.verify {
		text-align:center;
	}
}