// Responsive
// Adjustments to type sizes, grids, and images.


// jumbotron
@media all and (max-width: 1164px) {
	.jumbotron {
		.jumbotron_contents {
			.jumbowords {
				padding-top:0px;
			}
		}
	}
	
}
@media all and (max-width: 1025px) {
	.jumbotron {
		.jumbotron_contents {
			.jumbowords {
				margin-top:-4rem;
			}
		}
	}
	
}
@media all and (max-width: 966px) {
	.jumbotron {
		padding-bottom:0px;
		.jumbotron_contents {
			.jumbowords {
				width:60%;
				margin-top:0rem;
			}
			.halfapp {
				width:29%;
				margin-right:2rem;
				margin-left:0rem;
				margin-bottom:0px;
			}
		}
	}
	
}
@media all and (max-width: 807px) {
	.jumbotron {
		.jumbotron_contents {
			.jumbowords {
				width:66%;
			}
		}
	}
	
}
@media all and (max-width: 767px) {
	.jumbotron {
		.jumbotron_contents {
			.jumbowords {
				width:66%;
			}
		}
	}
	
}
@media all and (max-width: 737px) {
	.jumbotron {
		.jumbotron_contents {
			.jumbowords {
				width:100%;
				text-align:center;
			}
			.halfapp {
				display:none;
			}
		}
	}
	
}
@media all and (max-width: 666px) {
	.jumbotron {
		background-image:none;
		background-color:#333;
		.jumbotron_contents {
			padding:4.4rem 0px;
		}
	}
	footer .footer_contents .foot {
		width:100%;
	}
	
}
//form
@media all and (max-width: 440px) {
	input.forminput {
		width:75%;
	}
	
}

//value
@media all and (max-width: 807px) {
	.valueprop {
		.valueprop_contents {
			padding-bottom:7rem;
			padding-top:7rem;
		}
	}
	
}
@media all and (max-width: 666px) {
	.valueprop {
		.valueprop_contents {
			padding-bottom:.5rem;
			padding-top:1.5rem;
			.valuecol {
				width:100%;
				margin-bottom:2.5rem;
			}
		}
	}
	
}

// team
@media all and (max-width: 800px) {
	.team {
		.team_contents {
			.teamwords {
				width:100%;
			}
		}
	}
	
}
@media all and (max-width: 666px) {
	.team {
		.team_contents {
			.profile {
				width:100%;
				margin-bottom:2.5rem;
			}
		}
	}
	
}
// nav

@media all and (max-width: 768px) {
.navbar {
	.navbar_contents {
		@include contentsection;
		a.navbar-brand {
			width:60%;
		}
	}
}
	
}
